// wire framing colors
$color-white    : #ffffff;
$color-lightgray: lightgray;
$color-gray     : gray;
$color-black    : #000000;

$color-daintree     : #02253c;
$color-congress-blue: #024680;
$color-chathams-blue: #12527D;
$color-denim        : #0e76bc;
$color-cyan         : #0fcfff;
$color-regent-blue  : #a4cbe6;
$color-tree-poppy   : #fe9f23;
$color-festival     : #f9f56d;
$color-alabaster		: #F7F7F7;

$height-header: 75px;
$height-header-sm: 7vh;